/* ========common css start=========== */
*{
    margin:0;
    padding:0
}

body{
    font-family: 'Poppins', sans-serif;  
}

.container{
    width:1140px;
    margin:0 auto;
}

.flex{
    display:flex;
    justify-content:space-between;
}

.title h1{
    color:#000000;
    font-weight:500;
    font-size:35px;
    line-height:42px;
    margin-bottom:15px;
    position:relative;
}

.title h1::after{
    content:'';
    width:40px;
    height:1px;
    background:#D9832E;
    position:absolute;
    bottom:-10px;
    left:0;
}


.title h4{
    color:#000000;
    font-weight:300;
    font-size:14px;
    line-height:22px;
    margin-top:5px;
}

/* ========common css end=========== */


/* ===========nav start============= */

nav{
    padding:35px 0;
}

nav ul{
    display:flex;
    gap: 34px;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight:500;
    font-size:13px;
    color:#000000;
    transition:0.4s;
}
nav ul li a:hover{
    color:#F2B86B;
}
/* ============nav end============== */

/* ==========banner start============ */
.banner_text{
    width:50%;
    margin-top:191px;
}

.banner_img{
    width:50%;
    margin-top:44px;
}

#banner h3{
    font-weight:500;
    font-size:21px;
    line-height:39px;
    color:#090A0C;
}

#banner h1{
    font-weight:600;
    font-size:60px;
    line-height:60px;
    color:#090A0C;
    margin-top:5px;
}

#banner h4{
    font-weight:400;
    font-size:18px;
    line-height:60px;
    color:#090A0C;
    margin-top:2px;
}

#banner p{
    font-weight:400;
    font-size:15px;
    line-height:24px;
    color:#3A3B3D;
    margin-top:12px;
}

#banner a{
    background:#D9832E;
    color:#FFFFFF;
    text-decoration: none;
    padding:14px 35px;
    display:inline-block;
    font-weight:500;
    font-size:14px;
    line-height:22px;
    margin-top:29px;
    border:2px solid transparent;
    transition:0.4s;
}

#banner a:hover{
    background:#FFFFFF;
    color:#D9832E;
    border:2px solid #D9832E;
}

#banner .btn2{
margin-left:10px;
}
/* ==========banner end============ */
/* ==========about start============ */
#about{
    background:#EAEDF2;
    padding-top:48px;
    padding-bottom:75px;
    margin-top:73px;
}


#about .about_img{
    width:40%;
    margin-top:31px;
}

#about .about_info{
    width:60%;
}

#about .about_info h2{
    font-weight:500;
    font-size:30px;
    line-height:36px;
    color:#000000;
    margin-bottom:6px;
}

#about .about_info h4{
    font-weight:400;
    font-size:18px;
    line-height:21.6px;
    color:#090A0C;
    margin-bottom:10px;
}

#about .about_info h4 span{
    color:#D9832E;
}

#about .about_info p{
    font-weight:400;
    font-size:16px;
    line-height:24px;
    color:#555A64;
}

#about .about_info .about_flex{
    display:flex;
    margin-top:18px;
}

#about .about_info .about_flex ul li{
    list-style: none;
    font-weight:400;
    font-size: 14px;
    line-height:22px;
    color:#000000;
    position:relative;
    width:300px;
    margin-bottom:10px;
}

#about .about_info .about_flex ul li span{
    font-weight:300;
    font-size: 14px;
    line-height:22px;
    color:#555A64;
    position:absolute;
    top:0;
    left:85px;
}

#about .about_info a{
    background:#D9832E;
    color:#FFFFFF;
    text-decoration: none;
    padding:14px 35px;
    display:inline-block;
    font-weight:500;
    font-size:14px;
    line-height:22px;
    border:2px solid transparent;
    transition:0.4s;
}
/* ==========about end============ */

/* ==========skill start============ */
#skill{
    padding-top:48px;
    padding-bottom:76px;
}

#skill .skill_left{
    width:50%;
    margin-top:48px;
}


#skill .skill_left h3{
    margin-bottom:3px;
    font-size: 16px;
    font-weight: 400;
    line-height:19.2px;
    color:#090A0C;
}

#skill .skill_left h5{
    margin-bottom:3px;
    margin-right:200px;
    font-size: 16px;
    font-weight: 400;
    line-height:19.2px;
    color:#090A0C;
}


#skill .skill_right{
    width:50%;
}

#skill .skill_right .skill_right_main{
    width:206px;
    height:90px;
    border:1px solid #D9832E;
    border-radius:10px;
    margin-bottom:14px;
}
#skill .skill_right h5{
    width:101px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color:#000000;
    padding-top:25px;  
    margin-right:26px;
}

#skill .skill_right i{
    color:#DA8A3A;
    margin-top:34px;
    margin-left:28px;
    font-size: 25px;
    line-height: 20px;
    
}

#skill .skill_right .flex_margin{
    margin-left:130px;
}
/* ==========skill end============ */



/* ==========service start============ */
#service{
    background: #EAEDF2;
    padding-top:49px;
    padding-bottom:64px;
}


#service .row1{
    margin-bottom:24px;
    margin-top:64px;
}

#service .service_item{
    width:364px;
    height:270px;
    background: #FFFFFF;
}

#service .service_item .service_item_elements{
    padding-top:29px;
    padding-left:41px;
}

#service .service_item .service_item_elements h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color:#000000;
    margin-top:20px;
    margin-bottom:18px;
}

#service .service_item .service_item_elements p{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color:#000000;
    width:271px;
}
/* ==========service end============ */


/* ==========works start============ */
#works{
    padding-top: 41px;
    padding-bottom: 52px;
}

#works .row1{
    margin-top:33px;
    margin-bottom: 26px;
}

#works img{
    width:360px;
    height:351px;
}
/* ==========works end============ */